@font-face {
  font-family: "google";
  src: url(https://fonts.gstatic.com/s/googlesans/v14/4UaGrENHsxJlGDuGo1OIlL3Owp4.woff2);
}
@font-face {
  font-family: "ubuntu";
  src: url("../assets/fonts/ubuntu/Ubuntu-Regular.ttf");
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.header__text {
  @apply font-ubuntu font-normal p-2 hover:text-white hover:bg-gray-800 cursor-pointer transform duration-200 ease-out;
}

.ani_arr:hover {
  animation: text-load ease-in-out 2000ms infinite;
  transform: translateY(0px);
}

@keyframes text-load {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0px);
  }
}

.upper_header {
  @apply font-bold font-ubuntu text-gray-800 text-2xl;
}
.about {
  @apply font-ubuntu text-base;
}

.border_round {
  border-radius: 0 0 45% 45%/0 0 10% 10%;
}

.container_div {
  @apply pl-10 pr-10 pb-14 pt-20 sm:pl-44 sm:pr-44 mt-10 mb-10;
}

.wave_round {
  aspect-ratio: 960/100;
  width: 100%;
  background: url("../assets/layerWave.svg") center center no-repeat;
  background-size: cover;
}

.skill__img {
  @apply h-24 cursor-pointer object-contain;
}
