.tabs__main{
	display:flex;
	margin-bottom:20px;
	align-items: center;
	justify-content:center;
}
.tab__img{
	z-index: 10;
	width:wrap-content;
	height:wrap-content;
	border-radius:50%;
	border: 3px solid white;
	box-shadow:1px 1px 5px 1px rgba(0,0,0,0.5);
	display:flex;
	align-items: center;
	justify-content:center;
	background-color:white;
}
.tab__img>img{
	object-fit: contain;
	height:40px;
	border-radius: 50%;
}
.tab__links{
	border:1px solid;
	border-radius: 0px 5px 5px 0px;
	padding: 7px 12px 7px 22px;
	font-size:15px;
	margin-left:-15px;
	color: black;
	transition:0.2s ease-out;
}
.tab__links:hover{
	background-color:black;
	color:white
}
a{
	text-decoration:none;
}
